<%- include('./header.ejs'); %>
    <div class="container">
        <h1>Mon Dashboard</h1>
        <p>mon email : <%= email %></p>
        <button>Changer mon mot de passe</button>
    </div>
<%- include('./footer.ejs'); %>