<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Tp Auth</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% if (isConnected) { %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Deconnexion</a></li>
        <% }else {%>
        <li><a href="/signup">Inscription</a></li>
        <li><a href="/login">Connexion</a></li>
        <% } %>
      </ul>
    </nav>
  </body>
   <% if (flash_success) { %>
   <% flash_success.forEach(msg => { %>
    <div class="flash-success" name="flash-msg">>
      <span><%= msg %></span>
    </div>
   <% }) %>
   <% } %>

   <script>
    const msgEls = document.getElementsByName('flash-msg');
    if(msgEls != undefined){
      msgEls.forEach(msg => {
        setTimeout(() => {
          msg.style.display = "none";
        }, 3000)
      })
    }
   </script>